{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="form-group" style="background-color:rgba(255,255,255,0.9);border-radius: 25px;">
    <br>
    <br>
    <form action="/" method="post" class="select-category-form">
        <label for="dropdown">Select Category:</label>
        <br>
        <select id="dropdown" name="dropdown" class="dropdown">
            <option value="Arts">Arts</option>
            <option value="History">History</option>
            <option value="Science">Science</option>
            <option value="Bussiness">Bussiness</option>
            <option value="Biography">Biography</option>
        </select>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>
    <br>
</div>
<!-- make book grid each book has a card -->
<div class="container" style="background-color:rgba(255,255,255,0.9);border-radius: 25px;">
    <h2>{{header}}</h2>
    <br>
    <div class="row">
        {% for dat in data["items"]%}
        <div class="col-md-4" style="margin-bottom: 20px;">
            <div class="card" style="width: 18rem;">
                <a href="{{dat['volumeInfo']['infoLink']}}">
                    {% if 'imageLinks' in dat['volumeInfo'] %}
                    <img src="{{ dat['volumeInfo']['imageLinks']['smallThumbnail'] }}"
                        alt="{{ dat['volumeInfo']['title'] }} cover image" class="card-img-top">
                    {% else %}
                    <img src="https://via.placeholder.com/150" alt="No cover image" class="card-img-top">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{dat["volumeInfo"]["title"]}}</h5>
                    <p class="card-text">
                        {% if 'authors' in dat['volumeInfo'] %}
                        <span style="font-size:large; font-weight: bold;">{{ dat['volumeInfo']['authors'][0] }}</span>
                        {% elif header=="Biography" %}
                        <span style="font-size:large; font-weight: bold;">{{ dat['volumeInfo']['title']}}</span>
                        {%else%}
                        <p>Not found</p>
                        {%endif%}
                    </p>
                    <a href="{{ dat['saleInfo']['buyLink'] }}" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div style="background-color:rgba(255,255,255,0.9); border-radius: 25px;">
    <h3>YOUR BOOKS</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                <th scope="col">WHEN</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows%}
            <tr>
                <th scope="row">{{row["bookname"]}}</th>
                <td>{{row["amount"]}}</td>
                <td>{{row["bookprice"]}}</td>
                <td>{{row["datetime"]}}</td>
                <td>{{row["total"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}